<div class="jumbotron" style="background-color:transparent;">
    <div class="row" style="padding:5px;">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-xs-6 col-md-3">
                    <a href="#" class="thumbnail">
                        <img data-src="holder.js/100%x180" alt="...">
                    </a>
                </div>
                ...
            </div>

            <h1>Hello, world!</h1>
            <p>...</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
        </div>
    </div>
    
    <div class="row" style="padding:5px;">
        <div class="col-lg-12">
            Place for live tweets!
            <div class="row" style="min-height:400px">
                <div class="col-lg-6" style="border: solid !important; border-color: #00ff90; !important; border-radius:5px; ">
                    +ve
                </div>
                <div class="col-lg-6" style="border: solid !important; border-color: #ff0000 !important; border-radius: 5px;" >
                    -ve
                </div>
            </div>
        </div>
    </div>
</div>
