
<body>
    <div class="navbar navbar-default navbar-static-top" style="margin: -1px -1px 0;">
        <div class="navbar-inner">
            <div class="container" style="width: auto; padding: 0 20px;">
                <a class="brand" href="#">ETA</a>
                <ul class="nav pull-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Masters <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref=".master1">Master 1</a></li>
                            <li><a ui-sref=".master2">Master 2</a></li>
                            <li><a ui-sref=".master3">Master 3</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
<div ui-view></div>