<div class="well" style="height:75px">
    
    <div class="btn-group pull-right" role="group" aria-label="..." ng-hide="true">
        <button type="button" class="btn btn-default">Splunk</button>
        <button type="button" class="btn btn-default">Elastic</button>
    </div>
    
    <input type="text" class="form-control col-lg-12" placeholder="Search for..." style="margin-top:5px;">

    <ul class="dropdown-menu pull-right" role="menu" aria-label="All Time">
        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Regular link</a></li>
    </ul>

</div>